<div
  (click)="onClick()"
  class="card"
  style="width: 200px; margin: 20px; padding: 15px; border: 1px solid; border-radius: 10px; cursor: pointer">
  <img [src]="item.imageUrl" class="card-img-top" alt="{{ item.name }}" style="width: auto; height: 100px" >
  <div class="card-body">
    <h4 class="card-title">{{ item.name }}</h4>
    <p class="card-text">Price: {{ item.price }}</p>
  </div>
</div>
