<div class="container d-flex justify-content-between">
  <div class="details p-3 mr-5" style="width: 30%;  border: 1px solid">
    <h2 class="text-center">Order details:</h2>
    <div class="emptyOrder" *ngIf="total === 0">
      <p>Order is empty!</p>
      <p>Please add some items!</p>
    </div>
    <div class="total" *ngIf="total > 0">
      <app-detail
        *ngFor="let arr of array; let i = index"
        (delete)="deleteButton(i)"
        [item]="arr"
      ></app-detail>
      <hr>
      <h3>Total price: {{ total }} KGS</h3>
    </div>
  </div>

  <div class="itemsDiv" style="width: 70%; border: 1px solid">
    <h2 class="text-center">Add items:</h2>
    <div class="items d-flex flex-wrap align-items-stretch">
      <app-item
        *ngFor="let item of items; let i = index"
        [item]="item"
        (clickAdd)="onClick(i)"
      ></app-item>
    </div>
  </div>
</div>
