<div class="d-flex justify-content-between mb-3">
  <span>{{ item.name }}</span>
  <span>X{{ item.amount }}</span>
  <span>{{ item.getPrice() }}KGS</span>
  <button
    class="btn btn-dark"
    (click)="onDelete()"
  >X</button>
</div>
